services:
  app_spring:
    build: .
    mem_limit: 512m
    ports:
      - "8080:8080"
#    environment:
#      DB_URL: jdbc:mysql://spring_learning:3306/spring-learning?createDatabaseIfNotExist=true&serverTimezone=UTC
#      DB_USER_NAME: root
#      DB_PASSWORD: 1234
    restart: always
#    depends_on:
#      spring_learning:
#          condition: service_healthy
#  spring_learning:
#    image: mysql:8.0.33
#    ports:
#      - "3307:3306"
#    environment:
#      MYSQL_ROOT_PASSWORD: 1234
#      MYSQL_PASSWORD: 1234
#      MYSQL_DATABASE: spring-learning
#    restart: always
#    healthcheck:
#      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
#      timeout: 10s
#      retries: 10